<h1><%= t("view.new.title", model: Oidc.model_name.human) %></h1>
<%= render "form", oidc: @oidc %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: Oidc.model_name.human.pluralize), oidcs_path %>
</div>
