<h1><%= t("view.new.title", model: Page.model_name.human) %></h1>
<%= render "form", page: @page %>

<br>

<div>
  <%= link_to t("view.new.move_to_index", model: Page.model_name.human.pluralize), pages_path %>
</div>
